<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TNAK Editor - verumIgnis.com</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div style="text-align: center;">
        <div id="post-title">
            <h1>Totally Not A Keyboard - Payload Editor</h1>
        </div>
    </div>
    <div id="tnak-content">

        <div class="tnak-left-panel">

            <div class="tnak-status">
                <span class="status-text">Ready.</span>
                <div class="progress-bar"></div>
            </div>

            <textarea id="script">
REM Default TNAK Script
SPEED 20
STRING To connect your TNAK:
ENTER
ENTER
STRING 1. Short PROG to 3.3V with any conductive material
ENTER
STRING 2. Connect the device to your computer
ENTER
STRING 3. Click "Write Script To TNAK" and select "STM32 BOOTLOADER" from the list
ENTER
ENTER
STRING DM verumIgnis on Discord for tech support.
</textarea>

            <div class="tnak-button-container">
                <button id="write">Write Script To TNAK</button>
            </div>
        </div>

        <div class="tnak-right-panel">
            {{ content|markdown }}
        </div>

    </div>
    <div id="back-btn">
        <a href="/">
            <img id="header-img" src="/icon.png" alt="verumIgnis icon">
        </a>
    </div>
    <p><br></p>


    <script src="/usbDfuDevice.js"></script>
    <script src="/tnak.js"></script>
</body>
</html>